$colorePrincipale: #7550FE;
$coloreBackgound: #F5F4F8;
$colorIcons : #FFEEDA;
$colorIconsNav : #F5F4F8;
$colorGreen : #1ACB98;



/* navbar */
.myiconsnav{
    background-color: $colorIconsNav;
}

nav button:hover{
    color: $colorePrincipale;
}

.green_fluo{
    background-color: $colorGreen;
}

.green_fluo:hover{
    background-color: $colorGreen;
}

/* hero */
#hero{
    background-color: $colorePrincipale;
}

/* top bar */
.myicons{
    background-color: $colorIcons;
}

/*background*/

.background{
    background-color: $coloreBackgound;
}




