@import "./colors.scss";

html,body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.noMarker{
    list-style: none;
}

.arrowLeft{
    position: absolute;
    left: -20%;
}

.arrowRight{
    position: absolute;
    right: -9%;
}