    body{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(to right, #87077F , #ED7273)
    
    }

    .img-testata{
        width: 150px;
        margin-top: 10px;
    }

    .p-testata{
        background-color: white;
        padding: 10px;
        font-size: 13px;
    }

    .featured{
        color: red;
        text-align: start;
    }

    .featured p{
        margin: 0;
    }


    .left{
        text-align: left;
    }


